#!/usr/bin/env bash
set -Eeuo pipefail

export PATH=$PATH:/usr/sbin/:/usr/bin/

while getopts ":c" opt; do
    case $opt in
        c)
            sleep $(($RANDOM % 60))
            ;;
        \?)
            echo "Invalid option -$OPTARG" >&2
            exit 3
            ;;
    esac
done

{% if fw_iptables %}
FIREWALL=iptables
{% else %}
FIREWALL=nft
{% endif %}

importlist() {
	BLOCKLIST=$1
	BLOCKLISTNEW=$1_new
	LISTFILE="$2"
	TMPIPSETFILE="$2.$BLOCKLIST.tmp"

	if [ "$FIREWALL" == "iptables" ]; then
		set +e
		ipset destroy $BLOCKLISTNEW > /dev/null 2>&1
		ipset create $BLOCKLIST hash:net > /dev/null 2>&1
		set -e

		# TODO: enable IPv6

		echo "create $BLOCKLISTNEW hash:net family inet hashsize 1024 maxelem 65536" > "$TMPIPSETFILE"
		set +e
		cat "$LISTFILE" | grep -v '^0.0.0.0/' | grep -v ":" | grep -Ev '^#' | sed "s/^/add $BLOCKLISTNEW /" >> "$TMPIPSETFILE"
		set -e
		cat "$TMPIPSETFILE" | ipset restore

		ipset swap $BLOCKLIST $BLOCKLISTNEW
		ipset destroy $BLOCKLISTNEW
	else

		# TODO: enable IPv6
		
		echo "flush set inet fw $1" > "$TMPIPSETFILE"
		set +e
		cat "$LISTFILE" | grep -v '^0.0.0.0/' | grep -v ":" | grep -Ev '^#' | sed "s/^/add element inet fw $1 {/" | sed 's/$/}/' >> "$TMPIPSETFILE"
		set -e
		nft -f "$TMPIPSETFILE"
	fi
}

checkfwrule() {
	if [ "$FIREWALL" == "nft" ]; then
		# In nftables, ip sets are created in the configuration file
		return
	fi

	CHAIN="$1"
	LISTNAME="$2"
	ACTION="$3"
	set +e
	RULEOK=$(iptables -vnL "$CHAIN" | grep -c "$LISTNAME")
	set -e
	if [ "$RULEOK" -eq 0 ]; then
		iptables -I "$CHAIN" -m set --match-set $LISTNAME src -j $ACTION
	fi
}

getlist() {
	local URL=""
	local URL6=""
	case "$1" in
		statuscake)
			wget --timeout=60 -q "https://app.statuscake.com/Workfloor/Locations.php?format=txt" -O "$2.list1"
			wget --timeout=60 -q "https://app.statuscake.com/API/SpeedLocations/json" -O - | jq -r '.[] | .ip' > "$2.list2"
			cat <<EOF > "$2.list3"
162.243.141.135
107.170.235.240
104.236.163.90
EOF
			cat "$2.list1" "$2.list2" "$2.list3" > "$2"
			rm -f "$2.list1" "$2.list2" "$2.list3"
			;;
		tor)
			URL=https://check.torproject.org/torbulkexitlist
			;;
		fireholL1)
			URL=https://iplists.firehol.org/files/firehol_level1.netset
			;;
		fireholL2)
			URL=https://iplists.firehol.org/files/firehol_level2.netset
			;;
		fireholL3)
			URL=https://iplists.firehol.org/files/firehol_level3.netset
			;;
		fireholL4)
			URL=https://iplists.firehol.org/files/firehol_level4.netset
			;;
		fireholWEBSRV)
			URL=https://iplists.firehol.org/files/firehol_webserver.netset
			;;
		fireholANONYM)
			URL=https://iplists.firehol.org/files/firehol_anonymous.netset
			;;
		fireholABUSER1)
			URL=https://iplists.firehol.org/files/firehol_abusers_1d.netset
			;;
		fireholABUSER30)
			URL=https://iplists.firehol.org/files/firehol_abusers_30d.netset
			;;
		fireholDC)
			URL=https://iplists.firehol.org/files/datacenters.netset
			;;
		ipdenyRU)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/ru-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/ru-aggregated.zone
			;;
		ipdenyCN)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/cn-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/cn-aggregated.zone
			;;
		ipdenyIT)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/it-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/it-aggregated.zone
			;;
		ipdenyDE)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/de-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/de-aggregated.zone
			;;
		ipdenyFR)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/fr-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/fr-aggregated.zone
			;;
		ipdenyCH)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/ch-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/ch-aggregated.zone
			;;
		ipdenyES)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/es-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/es-aggregated.zone
			;;
		ipdenyNL)
			URL=https://www.ipdeny.com/ipblocks/data/aggregated/nl-aggregated.zone
			URL6=https://www.ipdeny.com/ipv6/ipaddresses/aggregated/nl-aggregated.zone
			;;
		*)
			echo "Invalid list"
			exit 1
			;;
	esac

	wget --timeout=60 -q "$URL" -O "$2"
	if [ "$URL6" != "" ]; then
		wget --timeout=60 -q "$URL6" -O "$2".v6
	fi
}

WORKDIR=$(mktemp -d)

cleanup() { rm -rf "$WORKDIR"; }
trap cleanup EXIT

{% if (fw_blacklists | length) > 0 %}
for list in {{ fw_blacklists | join(" ") }}; do
	getlist $list "$WORKDIR/$list.netset"
	importlist $list "$WORKDIR/$list.netset"
	checkfwrule BL_DROP $list DROP
done
{% endif %}

{% if (fw_whitelists | length) > 0 %}
for list in {{ fw_whitelists | join(" ") }}; do
	getlist $list "$WORKDIR/$list.netset"
	importlist $list "$WORKDIR/$list.netset"
	checkfwrule WL_ACCEPT $list ACCEPT
done
{% endif %}
