[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
ExecStart=/usr/bin/node_exporter --collector.textfile.directory="/var/lib/prometheus/node-exporter" --collector.systemd {% if ansible_virtualization_role == 'host' %}--collector.hwmon --collector.thermal_zone{% else %}--no-collector.thermal_zone --no-collector.hwmon{% endif %}


[Install]
WantedBy=multi-user.target