[Unit]
Description=Node-exporter
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp/
ExecStart=/usr/bin/prometheus-node-exporter
Restart=always

[Install]
WantedBy=multi-user.target
