[Desktop Entry]
Version=1.0
Type=Application
Name=Install development tools
Exec=/opt/install_dev_tools.sh {{ install_dev_tools_auto }}
Icon=/usr/share/pixmaps/xterm-color_48x48.xpm
Categories=Development
Terminal=false